<div class="nav-left">
  <h2>ZON Frontend Developer Handbook</h2>
</div>
<nav>
  <ul class="nav-items">
  {% for page in collections.all | generateEleventyNavigation %}
    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
  {% endfor %}
  </ul>
</nav>
