<!doctype html>
<html class="no-js" lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    <script>
      document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, ' ') + ' js';
    </script>
    <title>{{ collections.customMetadata | getCollectionItem(page) | getPageTitle }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism.css' | url }}">
  </head>
  <body>

  <header class="nav">
  {%- block navigation %}
  {% include "../_partials/nav.njk" %}
  {%- endblock -%}
  </header>

  <main class="main">
  {%- block content %}
  {{ content | safe }}
  {%- endblock -%}
  </main>

  </body>
</html>
