<nav>
  <ul>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/practices/">Practices</a></li>
    <li><a href="/guidelines/">Guidelines</a></li>
    <li><a href="/experiments/">Experiments</a></li>
    <li><a href="/links/">Links</a></li>
  </ul>
</nav>
