<div class="nav">
  <div class="nav-left">
    <h2>ZON Frontend Dev Handbook</h2>
  </div>
  {{ collections.all | eleventyNavigation | eleventyNavigationToHtml({listClass: 'nav-items'}) | safe }}
</div>

