:root {
    --color-background: #FFFFFF;
    --color-text: #252525;
    --color-link: rgba(37, 37, 37, 0.8);
    --color-code-background: rgb(96%, 95%, 94%)
}
@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #252525;
        --color-text: #FFFFFF;
        --color-link: rgba(255, 255, 255, 0.8);
        --color-code-background: rgb(4%, 5%, 6%)
    }
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
      "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
}

a {
    color: var(--color-link);
    line-height: 150%;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
      "Helvetica Neue", sans-serif;
    text-decoration: underline;
  }

  a:hover {
      color: var(--color-text);
  }
  
  