body {
    margin: 0 auto;
    padding: 5px;
}

@media (min-width: 1000px) {
    body {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-areas: ". nav nav content content content content content content content";
    }

    .nav {
        grid-area: nav;
        display: block;
        padding-right: 5vw;
        
        h2 {
            font-size: 52px; // like post h1
        }

        a {
            border-radius: 3px;
            display: block;
            padding: 0.3em 0.5em 0.2em;
            margin-left: -0.5em;
            &:hover {
                background-color: #f8f8f8;
            }
        }
    }

    .post {
        background: #f8f8f8;
        grid-area: content;
        padding-left: 5vw;
        padding-right: 5vw;
        min-height: 100vh;
    }
}